:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
/* For small devices (like phones) */
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

/* For medium devices (like tablets) */
@media (min-width: 600px) and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

/* For large devices (like desktops) */
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
